* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@media (max-width: 1400px) {
	html {
		font-size: 93.75%;
	}
}

body {
	background: #f8f8f8;
	color: #29292e;
}

body, button, input, textarea {
	font: 400 1rem 'Roboto', sans-serif;
}