header {
	padding: 1.5rem;
	border-bottom: 1px solid #e2e2e2;

	.content {
		max-width: 70rem;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.left {
			display: flex;
			align-items: center;
			gap: 1rem;

			button {
				width: 2.5rem;
				height: 2.5rem;

				font-size: 0;

				border: 0;
				background: transparent;
				cursor: pointer;

				transition: filter 0.2s;

				&:hover {
					filter: brightness(0.8);
				}
			}

			> img {
				max-height: 45px;
			}

			svg path, svg circle {
				stroke: #835afd;
			}
		}

		.right {
			display: flex;
			gap: 1rem;

			button {
				height: 2.5rem;
			}
		}
	}

	&.dark-theme {
		.left {
			svg path, svg circle {
				stroke: var(--dark-main-color);
			}
		}
	}
} 