.question {
	background: #fefefe;
	border: 1px solid #fefefe;
	border-radius: 0.5rem;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
	padding: 1.5rem;

	& + .question {
		margin-top: 0.5rem;
	}
	
	&.highlighted {
		background: #f4f0ff;
		border: 1px solid #835afd;
		
		footer .user-info span {
			color: #29292e;
		}
	}
	
	&.answered {
		background: #dbdcdd;
		border: 1px solid #dbdcdd;
	}

	p {
		color: #29292e;
	}

	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 1.5rem;

		> div {
			display: flex;
			gap: 1rem;
		}

		.user-info {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			img {
				width: 2rem;
				height: 2rem;
				border-radius: 50%;
			}

			span {
				color: #737380;
				font-size: 0.875rem;
			}
		}

		button {
			border: 0;
			background:  transparent;
			cursor: pointer;
			transition: filter 0.2s;

			&.like-button {
				display: flex;
				align-items: flex-end;
				color: #737380;
				gap: 0.5rem;

				&.liked {
					color: #835afd;

					svg path {
						stroke: #835afd;
					}
				}

				&:hover {
					filter: brightness(0.7);
				}
			}
		}
	}
}